{
    "name": "student{{ item }} SSH",
    "protocol": "ssh",
    "attributes": {
        "max-connections": "",
        "max-connections-per-user": "2"
    },
    "activeConnections": 0,
    "parameters": {
        "port": "22",
        "enable-menu-animations": "",
        "enable-desktop-composition": "",
        "hostname": "{{ courseid }}nix{{ item }}.{{ ec2_name_prefix }}.{{ domain }}",
        "color-depth": "",
        "enable-font-smoothing": "",
        "ignore-cert": "true",
        "enable-drive": "",
        "enable-full-window-drag": "",
        "security": "",
        "password": "{{ ssh_password }}",
        "enable-wallpaper": "",
        "create-drive-path": "",
        "enable-theming": "",
        "username": "{{ ssh_username }}",
        "console": "",
        "disable-audio": "",
        "domain": "",
        "drive-path": "",
        "disable-auth": "",
        "server-layout": "",
        "width": "",
        "height": "",
        "dpi": "",
        "console-audio": "",
        "enable-printing": "",
        "preconnection-id": "",
        "enable-sftp": "",
        "sftp-port": ""
    }
}
