{
    "username": "student{{ item }}",
    "password": "{{ guac_student_password }}",
    "attributes": {
        "disabled": "",
        "expired": "",
        "access-window-start": "",
        "access-window-end": "",
        "valid-from": "",
        "valid-until": "",
        "timezone": null
    }
}
